body{
  margin: 0.5rem;
}

button{
    background-color: #f83838;
    color: rgb(247, 237, 237);
    padding: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: none;
    font-weight: bold;
    border-radius: 200px;
    font-size: 20px;
}

.resultado_dado {
  margin-top: 0.5rem;
  margin-left: 1rem;
  background: gray;  
  width: 55px;
  height: 55px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 1.5rem;
  color: black;
  margin: 0
}