body{
  background: linear-gradient(#c875ff, #77d3d7);
  padding: 1vw;
  color: white;
}

button{
    background-color: #f83838;
    color: rgb(247, 237, 237);
    padding: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: none;
    font-weight: bold;
    border-radius: 200px;
    font-size: 20px;
    margin-right: 10px;
}

.resultado_dado {
  margin-top: 0.5rem;
  margin-left: 1rem;
  background: lightgray;  
  width: 55px;
  height: 55px;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-size: 1.5rem;
  color: black;
  margin: 0
}

#d20{
  background-color: #691060;
}

#d12{
  background-color: #822978;
}

#d10{
  background-color: #9b418f;
}
#d8{
  background-color: #b35aa7;
}

#d6{
  background-color: #cc72be;
}

#d4{
  background-color: #f49cbb;
}

